@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.App {
  text-align: center;
}

.testing {
  height: 10rem;
  width: 10rem;
  @apply bg-black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 0px;
  row-gap: 0px;
}

.h {
  height: 36rem;
}

.image-bg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFkjOQ-jNbmYcGgKh1omDMVnMlUrr1Uxz0nA&usqp=CAU");
  background-position: center;
  background-size: contain;
}

.crop {
  overflow: hidden;
}

.crop .img-feature {
  width: 100%;
  margin: -150px 0 0 0;
}

.card:hover > .card-detail {
  @apply transition ease-out duration-200 opacity-100 transform hover:scale-y-100;
}

figure {
  margin: 0;
}

figure .img-card {
  display: block; /*remove inline-block spaces*/
  width: 100%;
}
